<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title><%= title %></title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&amp;display=swap" rel="stylesheet">
    <link href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/plugins.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/structure.css" rel="stylesheet" type="text/css" class="structure" />
    <link href="/stylesheets/authentication/form-1.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/forms/theme-checkbox-radio.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/forms/switches.css">
</head>
<body class="form">


<div class="form-container">
    <div class="form-form">
        <div class="form-form-wrap">
            <div class="form-container">
                <div class="form-content">

                    <h1 class="">Log In to WMS</h1>
                    <form class="text-left" id="loginForm" name="loginForm" method="post" action="/login">
                        <div class="form">
                            <div id="username-field" class="field-wrapper input">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                <input id="txtEmail" name="txtEmail" type="text" class="form-control" placeholder="Email">
                            </div>

                            <div id="password-field" class="field-wrapper input mb-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path></svg>
                                <input id="txtPassword" name="txtPassword" type="password" class="form-control" placeholder="Password">
                            </div>
                            <div class="text-center">
                                <h6 class="text-danger"><%= message %></h6>
                            </div>
                            <div class="d-sm-flex justify-content-between">

                                <div class="field-wrapper">
                                    <button type="submit" class="btn btn-primary" value="">Log In</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <p class="terms-conditions">© 2021 All Rights Reserved. WMS is a product of designed for NIBM research purposes.</p>

                </div>
            </div>
        </div>
    </div>
    <div class="form-image">
        <div class="l-image">
        </div>
    </div>
</div>


<!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
<script src="/javascripts/libs/jquery-3.1.1.min.js"></script>
<script src="/plugins/bootstrap/js/popper.min.js"></script>
<script src="/plugins/bootstrap/js/bootstrap.min.js"></script>

<script src="/plugins/validationengine/languages/jquery.validationEngine-en.js"></script>
<script src="/plugins/validationengine/jquery.validationEngine.js"></script>
<script src="/plugins/jquery-validation/jquery.validate.js"></script>

<!-- END GLOBAL MANDATORY SCRIPTS -->
<script src="/javascripts/authentication/form-1.js"></script>

<script>
    $(document).ready(function (){
        $("#loginForm").validate({
            ignore: [],
            rules: {
                txtEmail: {
                    required : true,
                    email: true
                },
                txtPassword: {
                    required: true,
                }
            },
            messages: {
                txtEmail: {
                    required: "Please enter your email address here!.",
                    email: "Email address is badly formatted!."
                },
                txtPassword: "Please enter your password here!."
            }
        });
    });

</script>

</body>
</html>