<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
<title><%= title %></title>
<link rel="icon" type="image/x-icon" href="/images/favicon.ico"/>
<link href="/stylesheets/loader.css" rel="stylesheet" type="text/css" />
<script src="/javascripts/loader.js"></script>

<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&amp;display=swap" rel="stylesheet">
<link href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/stylesheets/plugins.css" rel="stylesheet" type="text/css" />
<!-- END GLOBAL MANDATORY STYLES -->

<!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM STYLES -->
<link href="/plugins/apex/apexcharts.css" rel="stylesheet" type="text/css">
<link href="/stylesheets/dashboard/dash_1.css" rel="stylesheet" type="text/css" class="dashboard-analytics" />

<link href="/stylesheets/scrollspyNav.css" rel="stylesheet" type="text/css" />
<link href="/stylesheets/components/tabs-accordian/custom-tabs.css" rel="stylesheet" type="text/css" />


<link href="/plugins/flatpickr/flatpickr.css" rel="stylesheet" type="text/css">
<link href="/plugins/flatpickr/custom-flatpickr.css" rel="stylesheet" type="text/css">


<link rel="stylesheet" type="text/css" href="/plugins/select2/select2.min.css">